---
import { getCollection, type CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/music.css";
import "../../styles/albumPage.css"; 

export async function getStaticPaths() {
  const albums = await getCollection("music");
  return albums.map((album: CollectionEntry<"music">) => ({
    params: { album: album.id.split("/")[0] },
    props: album,
  }));
}

type Props = CollectionEntry<"music">;

const album = Astro.props;
const { Content } = await album.render();
---

<BaseLayout>
  <div style="padding: 2rem 1rem 1rem 1rem;">
    <Content />
  </div>
</BaseLayout>