#music {
  padding: 2rem;
  position: relative;
}

#albums-title {
  margin: 0 0 2rem 0;
}

#album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}

.album-item {
  text-align: center;
}

.album-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.album-item p {
  margin-top: 10px;
  font-size: 1.5rem;
  text-decoration: none;
}

.anchor {
  color: rgb(225, 255, 225);
  text-decoration: none;
}

.anchor:hover {
  text-decoration: underline;
}

.album-page-title {
  margin: 0 0 1rem 0;
  text-align: center;
}

.album-page-author {
  margin: 0 0 2rem 0;
  text-align: center;
}

.album-page-video {
  display: block;
  margin: 0 auto;
  max-width: 15rem;
  max-height: 15rem;
}

#more-on-the-way-message {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 1rem;
  color: rgb(62, 110, 62);
}