#music {
    padding: 2rem;
}

#albums-title {
    margin: 0 0 2rem 0;
}

#album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.album-item {
    text-align: center;
}

.album-item p {
    margin-top: 10px;
    font-size: 1.5rem;
    text-decoration: none;
}

.album-cover {
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.album-cover:hover {
    border: 2px solid #fdfdfd;
}

#more-on-the-way-message {
    margin: 0;
    text-align: end;
    font-size: 1rem;
    color: rgb(62, 110, 62);
}