---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/movies.css";
---

<BaseLayout>
    <div id="movies">
        <h1 id="movies-title">Movies coming soon...</h1>
    </div>
</BaseLayout>
